$color-bright: #fff;
$color-bg: #ccc;
$color-text-main: #222;

// branding
$color-brand: #666;

// state
$color-state-active: #428bca;
$color-state-error: #d9534f;
$color-state-success: #5cb85c;
$color-state-warning: #f0ad4e;

// Buttons
$button-border-radius: 4px;

// default button
$color-button-default-bg: #fff;
$color-button-default-text: #666;
$color-button-default-border: #666;

// secondary button
$color-button-secondary-bg: #f5f5f5;
$color-button-secondary-text: #222;

// utility
$color-border: #ccc;
$color-anchor: #428bca;
